body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2e3192, #1b1464);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #fff;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

button {
    background: #1b1464;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background: #0d0a36;
    transition: background-color 0.3s;
}
